PORT=3500
ALLOWED_DOMAINS=http//example.com
DATABASE_URL="postgresql://postgres:pass1234@localhost:5436/resolve?schema=public"
ENVIRONMENT=development
BASEURL=http://localhost:3500

#mail
MAIL_SMTP_HOST=smtp.hostinger.com
MAIL_SMTP_PORT=465
MAIL_SMTP_USER=user@example.com
MAIL_SMTP_PASSWORD=K2Lr&Q7J&$dsfgh4
MAIL_SENDER_NAME=RESOLVE WEB SERVICES <resolve>
MAIL_SENDER_EMAIL=user@example.com

 
#secrets
JWT_SECRET=
ENCRYPT_SECRET=
JWT_REFRESH_SECRET=

PROFILE_DIR=ResolveImages
DOCUMENT_DIR=DocumentImages

CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL=

#Dojah 
DOJAH_APP_ID=
DOJAH_PUBLIC_KEY=
DOJAH_SECRET_KEY=
DOJAH_TOKEN_ID=